::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: azure;
}

::-webkit-scrollbar-thumb {
    background: rgb(97, 97, 97);
    border-radius: 4px;
}

@keyframes slideUp {
    from {
        transform: translateY(30%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 100;
    }
}

.result-container {
    animation: slideUp 0.5s ease-out;
}
